.navbar {
  background-color: #33145B; }
  .navbar .nav-link {
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.04px;
    line-height: 18px; }
    .navbar .nav-link:hover {
      color: #ffe42e; }
