.wta-primary-button {
  height: auto;
  min-height: 20px;
  padding: 1px 10px;
  padding-top: 3px;
  min-width: 70px;
  border-radius: 0 15px 0 15px;
  background-color: #502784;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.24);
  color: #FFFFFF;
  font-family: "Myriad Pro";
  font-size: 12px;
  font-weight: 600;
  text-align: center; }
  .wta-primary-button:hover:not(:disabled) {
    background-color: #33145B; }

.player-card {
  height: auto;
  font-size: 14px;
  display: flex;
  color: white;
  flex-direction: column;
  min-height: 400px;
  max-width: 100%;
  background: url("../img/player_bg.png") no-repeat center;
  background-size: cover; }
  .player-card .player-card__other {
    border-left: 1px solid white; }
  .player-card > .row {
    display: flex;
    flex-grow: 1; }

.player-card__info .info-height {
  min-width: 250px; }

.player-card__info h2 {
  font-size: 4.1em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: -1.51px; }

.player-card__photo {
  display: flex;
  position: relative;
  align-items: flex-end;
  overflow: hidden; }
  .player-card__photo img {
    object-fit: cover;
    object-position: top;
    flex: 1;
    overflow: hidden;
    max-height: 350px; }
  .player-card__photo .player-card__official-site {
    display: flex;
    width: 90%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    overflow: hidden;
    height: 20%;
    min-height: 55px;
    margin: 0px 10px; }
    .player-card__photo .player-card__official-site button {
      width: 135px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 12px;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.6);
      border: 1px solid white;
      letter-spacing: -0.03px;
      padding: 5px 10px; }
      .player-card__photo .player-card__official-site button:before, .player-card__photo .player-card__official-site button:after {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        content: '';
        background-color: white; }
      .player-card__photo .player-card__official-site button:before {
        left: -100%; }
      .player-card__photo .player-card__official-site button:after {
        right: -100%; }

.player-card__info .info-title {
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  display: flex;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6); }

.player-card__info .info-value--large {
  font-size: 40px;
  line-height: 44px; }

.player-card__info .info-value--middle {
  font-size: 18px;
  line-height: 20px; }

.player-card__info .info-age {
  min-width: 100px; }

.player-card__info .birth-date {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 11px;
  word-spacing: 60px;
  line-height: 10px;
  font-weight: 100; }

@media (max-width: 991.98px) {
  .player-card {
    min-height: 200px; }
    .player-card .player-card__other {
      border-left: none; }
  .player-card__info h2 {
    font-size: 3em; } }

@media (max-width: 767.98px) {
  .player-card {
    font-size: 14px; }
    .player-card .info-title {
      flex-grow: 1; }
  .player-card__info .info-value {
    font-size: 15px;
    line-height: 24px; } }

@media (max-width: 575.98px) {
  .player-card__photo .player-card__official-site {
    margin: 0px; }
  .flex-sm-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
    flex-wrap: wrap !important; }
  .player-card .info-title {
    border-bottom: none; }
  .player-card__info .row > div {
    padding-right: 5px;
    align-items: center; }
  .player-card__info h2 {
    font-size: 2em; }
  .player-card__info .info-height {
    min-width: auto; } }

@media (max-device-width: 575.98px) {
  .player-card {
    font-size: 12px !important; }
    .player-card .info-title {
      flex-grow: 1;
      flex-basis: 20px; }
  .player-card__info .info-value {
    font-size: 12px;
    line-height: 24px; } }

.dropdown-toggle::after {
  top: 0px;
  margin-left: 7px;
  margin-top: -2px;
  width: 8px;
  height: 8px;
  border-radius: 2px;
  border: 2px solid;
  opacity: 0.6;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(45deg); }

.navbar {
  width: 100%;
  position: static;
  padding: 0.4rem 1rem;
  background-color: #33145B; }
  .navbar .nav-link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.04px;
    line-height: 18px; }
    .navbar .nav-link:hover {
      color: #ffe42e; }
  .navbar .links-uppercase .nav-link {
    text-transform: uppercase; }
  .navbar .navbar-collapse {
    flex-wrap: wrap;
    justify-content: space-between; }
  .navbar .navbar-brand, .navbar .search-component, .navbar .search-component--expand, .navbar .header-profile {
    z-index: 1; }
  .navbar .navbar-toggler {
    opacity: 0.6; }
  .navbar .header-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .navbar .search-component {
    display: flex;
    align-items: center;
    position: relative; }
    .navbar .search-component .close {
      font-size: 30px; }
    .navbar .search-component--expand .close {
      font-size: 40px; }
    .navbar .search-component .search-form {
      position: absolute;
      right: 80%;
      display: none; }
      .navbar .search-component .search-form:after {
        display: block;
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        right: 15px;
        transform: scale(0.8);
        top: 8px;
        background-color: #33145B;
        -webkit-mask: url(../img/search-icon.svg) no-repeat center;
        mask: url(../img/search-icon.svg) no-repeat center; }
      .navbar .search-component .search-form .form-control {
        width: auto;
        padding-right: 35px; }
  .navbar .close {
    color: #ffe42e;
    opacity: 1;
    display: none;
    font-weight: normal; }
  .navbar .nav-item svg, .navbar .nav-link svg, .navbar .search-component__search-icon svg {
    opacity: 0.6; }
  .navbar .nav-item:hover svg, .navbar .nav-link:hover svg, .navbar .search-component__search-icon:hover svg {
    opacity: 1; }
    .navbar .nav-item:hover svg path, .navbar .nav-link:hover svg path, .navbar .search-component__search-icon:hover svg path {
      fill: #ffe42e; }
  .navbar .search-component__search-icon {
    display: flex; }
  .navbar.navbar--search {
    position: relative; }
    .navbar.navbar--search .header-overlay {
      display: block; }
    .navbar.navbar--search .close {
      display: block; }
    .navbar.navbar--search .search-form {
      display: block; }
    .navbar.navbar--search .search-component__search-icon {
      display: none; }
  @media (max-width: 991.98px) {
    .navbar .nav-other {
      border-top: 2px solid rgba(255, 255, 255, 0.2); }
      .navbar .nav-other .nav-link img, .navbar .nav-other .nav-link svg {
        width: 30px; }
      .navbar .nav-other .nav-link svg {
        width: 22px;
        height: 22px; } }

footer {
  min-width: 100%;
  box-sizing: border-box;
  background-color: white;
  min-height: 50px; }
  footer h5 {
    font-weight: bold;
    font-size: 14px;
    color: #502784; }
    footer h5 i {
      font-size: 12px; }
  footer ul {
    padding: 0px; }
    footer ul li {
      list-style: none;
      font-size: 14px;
      line-height: 24px; }
      footer ul li a {
        color: #666666; }
        footer ul li a:hover {
          text-decoration: none; }
  footer .first-server h6 {
    color: #502784;
    font-size: 20px;
    font-weight: bold;
    font-family: "Myriad Pro"; }
  footer .first-server ul {
    padding-left: 20px; }
    footer .first-server ul li {
      position: relative;
      font-size: 12px;
      line-height: 24px; }
      footer .first-server ul li :before {
        position: absolute;
        display: block;
        content: '';
        width: 9px;
        height: 9px;
        border-radius: 2px;
        top: 7px;
        left: -20px;
        border: 3px solid;
        color: #502784;
        border-left-color: transparent;
        border-top-color: transparent;
        transform: rotate(-45deg); }
  footer .social-pages {
    border-top: 1px solid #E4E4E4;
    margin: 0px;
    margin-top: 25px;
    padding-top: 18px;
    color: #666;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -0.03px;
    line-height: 14px; }
    footer .social-pages > div {
      padding-left: 0px; }
    footer .social-pages ul {
      display: inline-block; }
      footer .social-pages ul li {
        display: inline-block;
        font-size: 10px;
        letter-spacing: -0.03px;
        line-height: 14px; }
    footer .social-pages .social-pages__terms li:not(:last-of-type), footer .social-pages .social-pages__app li:not(:last-of-type) {
      position: relative; }
      footer .social-pages .social-pages__terms li:not(:last-of-type):not(:last-of-type), footer .social-pages .social-pages__app li:not(:last-of-type):not(:last-of-type) {
        margin-right: 15px; }
        footer .social-pages .social-pages__terms li:not(:last-of-type):not(:last-of-type):after, footer .social-pages .social-pages__app li:not(:last-of-type):not(:last-of-type):after {
          right: -10px;
          top: 0px;
          position: absolute;
          display: block;
          content: '/'; }
    footer .social-pages .social-pages__app li:first-of-type {
      margin-left: 5px; }
    footer .social-pages .social-pages__app li:not(:last-of-type):not(:last-of-type):after {
      right: -12px;
      content: '|'; }

html,
body {
  min-width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;
  font-family: 'Open Sans', sans-serif; }

main {
  height: auto;
  min-height: 90vh;
  width: 100%;
  box-sizing: border-box;
  max-width: 1400px; }

.popover-body {
  padding: 3px; }
