@import "variables";

.wta-primary-button {
  height: auto;
  min-height: 20px;
  padding: 1px;
  padding-top: 3px;
  min-width: 70px;
  border-radius: 0 15px 0 15px;
  background-color: $primary-color-light;
  box-shadow: 0 2px 17px 0 rgba(0,0,0,0.24);
  color: #FFFFFF;
  font-family: "Myriad Pro";
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  &:hover:not(:disabled) {
    background-color: $primary-color;
  }
}
