@import "variables";
@import "buttons";
@import "select";
@import "player-card";
@import "score-carusel";
@import "player-videos";
@import "drop-down";
@import "header";
@import "footer";
@import "player_compare";
@import "player-photos";

@import "player-other";
@import "player-twits";
@import "player-gear";
@import "player-played-tournaments";
@import "player-story";
@import "player-tabs";
@import "player-overview";
@import "player-matches";

html,
body {
  min-width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $body-bg;
  font-family: 'Open Sans', sans-serif;
}
body > main {
  height: auto;
  min-height: 90vh;
  width: 100vw;
  box-sizing: border-box;
  max-width: 1400px;
}
.popover-body {
  padding: 3px;
}