
@import "player-other";
@import "player-twits";
@import "player-gear";
@import "player-played-tournaments";
@import "player-story";
@import "player-tabs";
@import "player-overview";
@import "player-matches";
@import "player-bio";
@import "player-stats";
@import "player-ranking";
@import "player-tab-news";
@import "player-tab-photos";
@import "player-tab-videos";

@import "sap-match-stats";


html,
body {
  margin: 0px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $body-bg;
  font-family: 'Open Sans', sans-serif;
}
body > main {
  height: auto;
  min-height: 90vh;
  width: 97.2vw;
  box-sizing: border-box;
  max-width: 1400px;
}
.popover-body {
  padding: 3px;
}