@import "variables";
.player-tabs {
  margin: 25px 0px;
  background-color: white;
  padding: 18px;
  nav {
    margin: 0px 20px;
    max-width: 95vw;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.1);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.3);
    }
  }
  nav ul {
    border-bottom: 1px solid #D0D0D0;
    min-width: 900px;
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100%;
    .player-tabs--active {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;
    }
    li {
      font-size: 18px;
      list-style: none;
      color: #9B9B9B;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0px;
      display: flex;
      justify-content: center;
      flex-basis: 110px;
      flex-grow: 1;
      a {
        color: #9B9B9B;
        text-decoration: none;
      }
    }
  }
  @media (max-width: $screen-sm-max-width) {
    padding: 18px 0px;
    nav ul {
      min-width: 600px;
      li {
        font-size: 12px;
        flex-basis: 70px;
        flex-grow: 1;
      }
    }
  }
}