@import "variables";

.tournament-card {
  padding: 0px;
  color: white;
  position: relative;
  font-size: 18px;
  max-width: none;
  .tournament-logo {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: 60px;
  }
  .tournament-card__header {
    margin: 0px;
    padding: 15px;
    background-color: $primary-color;
    .tournament-card__header-title {
      display: flex;
      align-items: center;
    }
    .tournament-card__header-title {
      h2{
        font-size: 1.7em;
      }
    }
    .tournament-card__header-socials {
      .nav-item, .nav-link {
        svg {
          opacity: 0.6;
        }
        &:hover {
          svg {
            opacity: 1;
            path {
              fill: $gold;
            }
          }
        }
      }
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .tournament-card__main {
    position: relative;
    margin: 0px;
    display: flex;
    justify-content: center;
    min-height: 415px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    img {
      overflow: hidden;
      max-height: 415px;
      object-fit: cover;
      object-position: top;
    }
    h1 {
      filter: drop-shadow( 0 0 5px rgba(0,0,0,0.4));
      position: absolute;
      padding: 0px 60px;
      width: 100%;
      margin: 0px;
      font-size: 3.8em;
      bottom: 5%;
    }
  }
  .tournament-card__footer {
    margin: 0px;
    box-sizing: border-box;
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 60px;
    p {
      margin: 0px;
    }
    border-bottom: 5px solid $gold;
  }
  @media (max-width: 1350px) {
    .tournament-logo {
      top: 20%;
    }
  }
  @media (max-width: $screen-md-max-width) {
    font-size: 15px;
  }
  @media (max-width: $screen-sm-max-width) {
    .tournament-card__header{
      .tournament-card__header-title, .tournament-card__header-socials {
        justify-content: center;
      }
    }
    font-size: 10px;
    .tournament-logo {
      left: 10px;
      img{
        width: 100px;
      }
    }
    .tournament-card__main {
      min-height: 250px;
      img {
        max-height: 250px;
      }
      h1 {
        font-size: 3.2em;
        padding: 0 10px;
      }
    }
    .tournament-card__footer {
      font-size: 16px;
      padding: 15px 10px;
    }
  }
}