@import "tabs";

@import "tournament-card";
@import "tournament-who-playing";
@import "tournament-overview";
@import "tournament-results-archive";
@import "tournament-order-of-play";

html,
body {
  min-width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $body-bg;
  font-family: 'Open Sans', sans-serif;
}
body > main {
  height: auto;
  min-height: 90vh;
  width: 98.7vw;
  box-sizing: border-box;
  max-width: 1400px;
  .tabs--tournament {
    .download-button {
      justify-content: flex-end;
      img {
        margin-left: 10px;
      }
      button {
        min-width: 150px;
        font-size: 16px;
        height: 28.38px;
      }
    }
    .tabs-container {
      border-bottom: 1px solid #D0D0D0;
    }
    nav ul {
      width: 100%;
      min-width: 450px;
      border-bottom: none;
    }
  }
  .load-more{
    position: relative;
    button {
      width: 137px;
      z-index: 2;
      height: 27.1px;
    }
    .load-more__devider {
      position: absolute;
      width: 100%;
      top: 50%;
      height: 1px;
      background-color: $primary-color-light;
    }
  }
}
.popover-body {
  padding: 3px;
}