$screen-sm-max-width: 575.98px;
$screen-md-max-width: 767.98px;
$screen-lg-max-width: 991.98px;
$screen-xl-max-width: 1199.98px;

$screen-sm-min-width: 576px;
$screen-md-min-width: 768px;
$screen-lg-min-width: 992px;
$screen-xl-min-width: 1200px;

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans.regular.woff2') format('woff2'),
  url('../fonts/open-sans.regular.woff') format('woff'),
  url('../fonts/open-sans.regular.ttf') format('truetype'),
  url('../fonts/open-sans.regular.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/myriad-pro.regular.otf') format('opentype'),
  url('../fonts/myriad-pro.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.form-control{
  margin-left: 5px;
  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
}
$primary-font: 'Open Sans';
$secondary-font: 'Myriad Pro';

$light-gray: #F0F0F0;
$body-bg: $light-gray;
$primary-color: #33145B !default;
$gold: rgb(255, 228, 46);
$primary-color-light: #502784;
$success-color: #7ED321;
$dark-gray: #666;
$light-gray-t: #999999;
$gray-sl: #4B4B4B;
$divider-gray: #E4E4E4;
$violet: #847299;