@import "variables";

.swiper-container--videos {
  width: 100%;
  max-width: 98.7vw;
  background-color: $primary-color;
  a {
    color: white;
  }
  height: 360px;
  .swiper-slide {
    color: white;
    text-align: center;
    font-size: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .swiper-slide__cell{
    height: 80%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 3px solid rgba(255,255,255,0.4);
  }
  .swiper-slide__preview {
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: gray;
    height: 200px;
    display: flex;
    img {
      overflow: hidden;
      max-height: 200px;
      object-fit: cover;
      object-position: top;
    }
    .play-button {
      border: none;
      background-color: transparent;
      top: 15px;
      left: 5px;
      position: absolute;
      transition: all ease 0.3s;
      img {
        filter: grayscale(1) brightness(0.9) contrast(200%) drop-shadow(0px 0px 3px rgba(0,0,0, 0.3));
      }
    }
    &:hover {
      img {
        filter: none;
      }
    }
    &.swiper-slide__preview--live:before {
      display: inline;
      position: absolute;
      top: 55px;
      left: 20px;
      content: 'LIVE';
      font-size: 12px;
      filter: drop-shadow(0px 0px 3px rgba(0,0,0, 0.5));
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  h3 {
    letter-spacing: -0.04px;
    font-size: 18px;
    text-align: left;
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 17px;
      border-radius: 2px;
      height: 4px;
      background-color: rgba(255,255,255,0.53);
      &:hover {
        box-shadow: 0 0 0 1px white;
      }
    }
  }
}